# Object files
*.o
*.so
*.ko
*.obj
*.elf

# Libraries
*.a
*.la
*.lo

# Binaries
kst
kst-*

# Configuration file (allow config.def.h only)
config.h

# Patch original/reject files
*.orig
*.rej

# Other temp files
*~
\#*\#
.\#*
*.swp
.DS_Store

# Dependencies
.deps/

# Build directory
build/
